@CHARSET "ISO-8859-1";

.teste {
	border-width: 3px;
	border-style: dashed;
	border-color: red;
}

.fundo {
	background-color: red;
	color: white;
}

#draggable {
/* 	width: 100px; */
/* 	height: 70px; */
	background: silver;
}

#quadro {
	background:
		url("file:///C:/Users/user/Desktop/5b228ee7d9b14d4c83f4e1802dc1cefe.jpg")
		center center no-repeat;
	background-size: contain;
	min-width: 10px;
	min-height: 10px;
}

.fraction {
	background: aqua;
	/*	width: 35px;
 	width: auto;
	position: fixed;*/
	/* 	float:left;  */
	height: auto;
	cursor: default;
	display: inline-block;
	list-style-type: none;
	z-index: 1000;	
}

.fractionFree {
	margin: 3px 3px 3px 0;
}

.row {
	width: 100%;
	text-align: center;
	background-color: gray;
}

#droppable {
	width: 100%;
	list-style-type: none;
	text-align: center;	
}

#containment-wrapper {
/* 	width: 95%; */
/* 	height: 150px; */
	border: 2px solid #ccc;
	padding: 10px;
}

.ui-widget-header.custom-state-active { /* 	background: lime;		 */
	
}

#dialog {
	background: olive;
}

.drop {
    background-color: #D0E9C6;
    height: 100px;
    top: 100px;
    width: 100%;
}

.demo {
    background-color: #0480BE;
    height: 100px;
}
.demo2 {
    background-color: #bce8f1;
    height: 100px;
}