<div style="background: #fff; box-shadow: 2px 2px 6px #ccc; border: 2px solid #aaa; padding: 25px; border-radius: 8px">

	<p style='text-align: center'><img src='http://200.188.161.124/pat2math/images/logo-large2.png' /></p>

	<h2 style='text-align: center; color: #48b; font-size: 35px'>Bem-vindo ${user.firstName} ${user.lastName}</h2>
	<p style='text-align: center; font-size: 16px'>
		Estamos muito felizes por você se juntar ao PAT2Math!
		
		
		
		<a style="padding-top: 20px; width: 250px; height: 20px; display: inline-block; font-size: 24px; color: #fff; background: #37a; border: 0; padding: 25px;" href='http://200.188.161.124/pat2math/student/${user.id}/confirm/${hash}'>confirmar minha conta</a>
	</p>

</div>