<p style='text-align: center'>
	<img src='http://200.188.161.124/pat2math/images/Pat2Math.png' />
</p>

<h2 style='text-align: center; color: #48b; font-size: 35px'>Olá ${user.firstName} ${user.lastName}</h2>
<p style='text-align: center; font-size: 16px'>
	Você pode utilizar o link abaixo para alterar sua senha
	
	<a href='http://200.188.161.124/pat2math/user/${user.id}/editPassword/${hash}'>
		alterar minha senha
	</a>
</p>